body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjskdP7IZ6dlX2PqNgio64SPALaIQkFTfnbUqn-x9WPw&s);
font-family: "Poetsen One", sans-serif;

    /* CSS 1 */
        .button-1 {
            appearance: button;
            background-color: #1652F0;
            border: 1px solid #1652F0;
            border-radius: 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 1.15;
            overflow: visible;
            padding: 12px 16px;
            position: relative;
            text-align: center;
            text-transform: none;
            transition: all 80ms ease-in-out;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            display: inline;
            margin-left: 10px;
            margin-top: 10px;
                    
}
       .button-1:disabled {
            opacity: .5;
        }
    
        .button-1:focus {
            outline: 0;
        }
    
        .button-1:hover {
            background-color: #0A46E4;
            border-color: #0A46E4;
        }
    
        .button-1:active {
            background-color: #0039D7;
            border-color: #0039D7;
        }
}
h1{
   text-align: center;
    color: white;
}
.sig{
    font-size: 45px;
    color: white;
    text-align: center;
}
